<h1>Contact</h1>

<p id="p1">Marko Becarevic</p>
<p>Josef-Thoman str 5, 6020 Innsbruck</p>
<p>Telefon: +49 30 123456, Fax: +49 30 123456</p>
<p>Email: becarevic420@gmail.com</p>
<p>Internet: www.Marko-Becarevic.at</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p id="p1">Nimit Singh</p>
<p>Adele Obermayer str.3, 6020 Innsbruck</p>
<p>Telefon: +49 30 123456, Fax: +49 30 123456</p>
<p>Email: nimitSingh7@gmail.com</p>
<p>Internet: www.Nimit-Singh.at</p>