

@{
    ViewBag.Title = "Home Page";
}

    <h1 class="header1">Welcome to our Site</h1>

<img class="pic2" src="~/Content/images/home.jpg" alt="HeaderPic">


<form method="get" action="/Dog/Dogs">
    <button class="btnDogs" type="submit">Go to Dogs</button>
</form>

